IP_MI_RAM_HQ=127.0.0.1
PUERTO_MI_RAM_HQ=5001
IP_I_MONGO_STORE=127.0.0.1
PUERTO_I_MONGO_STORE=5001
GRADO_MULTITAREA=2
ALGORITMO=RR
QUANTUM=3
DURACION_SABOTAJE=20
RETARDO_CICLO_CPU=1
TAMANIO_MEMORIA=2048
ESQUEMA_MEMORIA=PAGINACION
TAMANIO_PAGINA=64
TAMANIO_SWAP=4096
PATH_SWAP=/home/utnso/swapFile.bin
ALGORITMO_REEMPLAZO=LRU
CRITERIO_SELECCION=FF/BF
PUERTO=5001 